# Binaries are not versioned. Exception only via explicit entry at the end: !path/file.ext
# Patterns are case-insensitive by bracket form (git matches case-sensitively on Linux). SVG stays versionable (text).

# Documents
*.[pP][dD][fF]
*.[dD][oO][cC]
*.[dD][oO][cC][xX]
*.[dD][oO][cC][mM]
*.[dD][oO][tT]
*.[dD][oO][tT][xX]
*.[oO][dD][tT]
*.[oO][dD][sS]
*.[oO][dD][pP]
*.[oO][dD][gG]
*.[xX][lL][sS]
*.[xX][lL][sS][xX]
*.[xX][lL][sS][mM]
*.[pP][pP][tT]
*.[pP][pP][tT][xX]
*.[rR][tT][fF]
*.[eE][pP][uU][bB]
*.[mM][oO][bB][iI]
*.[dD][jJ][vV][uU]
*.[pP][sS]
*.[pP][aA][gG][eE][sS]
*.[nN][uU][mM][bB][eE][rR][sS]
*.[kK][eE][yY]
*.[vV][sS][dD]
*.[vV][sS][dD][xX]
*.[pP][uU][bB]

# Images
*.[pP][nN][gG]
*.[jJ][pP][gG]
*.[jJ][pP][eE][gG]
*.[jJ][pP][eE]
*.[jJ][fF][iI][fF]
*.[gG][iI][fF]
*.[bB][mM][pP]
*.[tT][iI][fF]
*.[tT][iI][fF][fF]
*.[wW][eE][bB][pP]
*.[hH][eE][iI][cC]
*.[hH][eE][iI][fF]
*.[aA][vV][iI][fF]
*.[iI][cC][oO]
*.[iI][cC][nN][sS]
*.[pP][sS][dD]
*.[xX][cC][fF]
*.[rR][aA][wW]
*.[cC][rR]2
*.[cC][rR]3
*.[nN][eE][fF]
*.[aA][rR][wW]
*.[oO][rR][fF]
*.[rR][wW]2
*.[dD][nN][gG]
*.[jJ][xX][lL]
*.[eE][pP][sS]
*.[aA][iI]

# Video
*.[mM][pP]4
*.[mM]4[vV]
*.[mM][kK][vV]
*.[mM][oO][vV]
*.[aA][vV][iI]
*.[wW][eE][bB][mM]
*.[wW][mM][vV]
*.[fF][lL][vV]
*.[mM][pP][gG]
*.[mM][pP][eE][gG]
*.3[gG][pP]
*.[mM][tT][sS]
*.[mM]2[tT][sS]
*.[vV][oO][bB]
*.[oO][gG][vV]

# Audio
*.[mM][pP]3
*.[wW][aA][vV]
*.[fF][lL][aA][cC]
*.[oO][gG][gG]
*.[oO][gG][aA]
*.[oO][pP][uU][sS]
*.[mM]4[aA]
*.[aA][aA][cC]
*.[wW][mM][aA]
*.[aA][iI][fF][fF]
*.[aA][iI][fF]
*.[mM][iI][dD]
*.[mM][iI][dD][iI]
*.[aA][mM][rR]

# Archives and disk images
*.[zZ][iI][pP]
*.[tT][aA][rR]
*.[gG][zZ]
*.[tT][gG][zZ]
*.[bB][zZ]2
*.[tT][bB][zZ]2
*.[xX][zZ]
*.[tT][xX][zZ]
*.[zZ][sS][tT]
*.7[zZ]
*.[rR][aA][rR]
*.[cC][aA][bB]
*.[iI][sS][oO]
*.[iI][mM][gG]
*.[dD][mM][gG]

# Executables, libraries, packages
*.[eE][xX][eE]
*.[dD][lL][lL]
*.[sS][oO]
*.[dD][yY][lL][iI][bB]
*.[bB][iI][nN]
*.[mM][sS][iI]
*.[dD][eE][bB]
*.[rR][pP][mM]
*.[aA][pP][kK]
*.[aA][pP][pP][iI][mM][aA][gG][eE]
*.[jJ][aA][rR]
*.[wW][aA][rR]
*.[cC][lL][aA][sS][sS]
*.[oO]
*.[aA]
*.[pP][yY][cC]

# Fonts
*.[tT][tT][fF]
*.[oO][tT][fF]
*.[wW][oO][fF][fF]
*.[wW][oO][fF][fF]2
*.[eE][oO][tT]

# Databases
*.[sS][qQ][lL][iI][tT][eE]
*.[sS][qQ][lL][iI][tT][eE]3
*.[dD][bB]
*.[mM][dD][bB]
*.[aA][cC][cC][dD][bB]

# Explicit exceptions
